.input-container {
  margin: 10px 0;
  width: 45%;
  /* height: 25em; */
  min-width: 311px;
  max-width: 379;
  /* max-width: 355px; */
  /* background-color: blue;  */
}

.bill {
  margin-bottom: 40px;
}

label,
p {
  /* margin: 0; */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.main-input {
  display: block;
  margin: 0;
  padding: 0 17px;
  width: calc(100% - 38px);
  height: 40px;
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: 700;
  border: 2px solid #f3f9fa;
  border-radius: 5px;
  background-color: #f3f9fa;
  color: #00474b;
  background-image: url(../images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: top 12px left 13px;
  background-color: F3F9FA;
  text-align: right;
}

.main-input:hover {
  outline-style: none;
  border: 2px solid #26c2ae;
}

.main-input:focus {
  outline-style: none;
  border: 2px solid #26c2ae;
}

.percentage {
  /* justify-content: unset; */
  /* display: grid; */
  grid-template-columns: auto auto auto;
  /* gap: 16px; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between;    */
  width: 100%;
  margin: 0;
  /* background-color: red; */
  /* margin: 0 auto; */
  /* background-color: blue; */
  /* gap: 10px; */
}

.percentage-btn {
  background: #00474b;
  margin: 8px;
  padding: 0;
  color: #ffffff;
  cursor: pointer;
  height: 48px;

  width: 117px;
  width: 4.6vw;
  max-width: 146px;
  /* max-width: 146px;
  min-width: 117px; */

  outline-style: none;
  border-radius: 5px;
  border: 0;  
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: 700;

  /* //////////////////////////////// */

  /* width: 146px;
    border: none;
    margin-bottom: 16px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center; */
}

.percentage-btn:hover {
  background-color: #9fe8df;
  color: #00474b;
}

.percentage-btn:focus {
  background-color: #26C2AE;
}

.custom-input {
  width: 70px;
  text-align: center;
  height: 44px;
  width: 79px;
  /* margin: 8px auto; */
  padding: 0 17px;
  margin: 8px;
  border: 2px solid #f3f9fa;
  border-radius: 5px;
  color: #00474b;
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  background-color: #f3f9fa;
}

.custom-input:focus {
  outline-style: none;
  border: 2px solid #26c2ae;
}

.warning {
  float: right;
  color: #E17457
}