.results-container {
  width: 45%;
  height: 417px;
  min-width: 311px;
  max-width: 413px;
  border-radius: 15px;
  background-color: hsl(183, 100%, 15%);
  padding: 40px;
}

.results-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

h4 {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 16px;
}

.txt-box p {
  margin: 0;
  font-size: 13px;
  color: rgb(161, 153, 141);
}

.number-box {
  color: rgb(77, 220, 202);
  float: right;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1px;
}

h2 {
  float: right;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1px;
}

.res {
  display: flex;
  justify-content: center;
}

.reset-button {
  margin-top: 97px;
  width: 100%;
  min-width: 281px;
  max-width: 333px;
  height: 48px;
  background-color: #26c2ae;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #00474b;
}

.reset-button:hover {
  background-color: #9fe8df;
  pointer-events: none;
}

@media screen and (max-width: 621px) {
  .results-container {
    margin-top: 32px;
    padding: 37 22px 0 24px;
    height: 257px;
  }

  h2 {
    font-size: 32px;
  }

  .reset-button {
    margin-top: 7px;
  }
}
