* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
}

body {
  background-color: hsl(185, 41%, 84%);
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 920px;
  color: #3d6666;
  font-family: "Space Mono", monospace;
}

.logo {
  margin-top: 163px;
  margin-bottom: 87px;
}

/* removes arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 32px 0;
  width: 100%;
  max-width: 920px;
  min-width: 375px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  height: 481px;
}

@media screen and (max-width: 621px) {
  .logo {
    margin-top: 50px;
    margin-bottom: 41px;
  }

  .calc-container {
    height: 100vh;
  }
}

@media screen and (min-height: 933px) {
  body {
    overflow: hidden;
  }
}
